@charset "UTF-8";
/*light*/
/*Medium*/
/*Bold*/
/*Heavy*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.l-footer {
  height: 150px;
  width: 100%;
}
.l-footer__inner {
  display: block;
  height: 150px;
}
.l-footer__textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.l-footer__text {
  position: absolute;
  top: 1rem;
}
@media screen and (min-width: 768px) {
  .l-footer__text {
    position: absolute;
    top: 1.875rem;
  }
}
@media screen and (min-width: 1078px) {
  .l-footer__text {
    position: absolute;
    top: 2.5625rem;
  }
}
.l-footer__text--small {
  position: absolute;
  bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .l-footer__text--small {
    position: absolute;
    bottom: 1.5625rem;
  }
}
@media screen and (min-width: 1078px) {
  .l-footer__text--small {
    position: absolute;
    bottom: 1.6875rem;
  }
}

.l-header {
  height: 13.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF7EF;
  /*:relative;*/
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 13.5625rem;
    position: relative;
  }
}
@media screen and (min-width: 1078px) {
  .l-header {
    width: 80%;
    justify-content: unset;
    position: unset;
  }
}
.l-header__article {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1078px) {
  .l-header__article {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
.l-header__title {
  display: flex;
  font: 700 2.5rem "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #707070;
  margin: 31px 0 0 0;
  padding: 12px;
}
@media screen and (min-width: 1078px) {
  .l-header__title {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 4.185%;
    font-size: 4rem;
    line-height: 4.6875rem;
  }
}
.l-header__title__small {
  display: block;
  font: 700 1.25rem "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #707070;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}
@media screen and (min-width: 768px) {
  .l-header__title__small {
    font-size: 2.125rem;
    position: absolute;
    right: 3%;
    top: 9.2%;
  }
}
@media screen and (min-width: 1078px) {
  .l-header__title__small {
    display: none;
  }
}

.l-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  box-sizing: border-box;
  position: relative;
}

.l-main {
  flex-grow: 1;
}
@media screen and (min-width: 1078px) {
  .l-main {
    width: 80%;
  }
}
.l-main__font {
  font-family: "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 700;
}

.l-sidebar {
  display: none;
}
@media screen and (min-width: 1078px) {
  .l-sidebar {
    display: block;
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    position: absolute;
    right: 0%;
    top: 0%;
  }
}
.l-sidebar__title {
  /* display: none;*/
  display: block;
  font: 700 2.125rem "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #707070;
  padding: 84px 0 90px 12.5%;
}
.l-sidebar__title--small {
  display: block;
  font: 700 1.5rem "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #707070;
  padding: 0 0 0 12.5%;
}
.l-sidebar__menu {
  display: block;
  font: 400 1.25rem "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #707070;
}
.l-sidebar__menu--sub {
  display: block;
  font: 400 1.25rem "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #707070;
  padding: 12px 0 48px 17.3%;
}
.l-sidebar__menu--item {
  line-height: 1.85625rem;
  margin-top: 20px;
}

.c-title__hero {
  display: flex;
  align-items: center;
  padding-left: 6.7%;
  font-size: 9.6vw;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .c-title__hero {
    font-size: 4.32vw;
    padding-left: 10.3%;
  }
}
@media screen and (min-width: 1078px) {
  .c-title__hero {
    font-size: 2.08vw;
    padding-left: 5.5%;
  }
}
.c-title__card {
  display: flex;
  font: 700 2.5625rem "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #EAEAEA;
  position: absolute;
  top: 13px;
  left: 15px;
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  .c-title__card {
    font-size: 2.75rem;
    line-height: 3.22rem;
  }
}
@media screen and (min-width: 1078px) {
  .c-title__card {
    font-size: 4.2vw;
    line-height: 4.9vw;
  }
}
.c-title__card--white {
  display: block;
  font-size: 2.5625rem;
  color: #FFFFFF;
  position: absolute;
  top: 13px;
  left: 13px;
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  .c-title__card--white {
    font-size: 2.75rem;
    line-height: 3.22rem;
  }
}
@media screen and (min-width: 1078px) {
  .c-title__card--white {
    font-size: 4.2vw;
    line-height: 4.9vw;
  }
}
.c-title__card__subtitle {
  display: flex;
  font-size: 1.375rem;
  color: #3C2A10;
  margin-bottom: 4px;
}
.c-title__map {
  display: block;
  font-size: 1.88rem;
  color: #FFFFFF;
  line-height: 2.7843rem;
}
@media screen and (min-width: 1078px) {
  .c-title__map {
    font-size: 2.25rem;
    line-height: 3.34125rem;
  }
}

.c-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90.4%;
  /*bottom: 10px; //%　とりあえず*/
}
@media screen and (min-width: 768px) {
  .c-card {
    width: 91%;
  }
}
@media screen and (min-width: 1078px) {
  .c-card {
    width: 95%;
    /*position:absolute;
        bottom: 2.6%;*/
  }
}
.c-card__subcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  /*margin:10px;//% とりあえず*/
  padding: 2.7%;
  position: relative;
  margin-bottom: 4.2%;
}
@media screen and (min-width: 768px) {
  .c-card__subcard {
    width: 91%;
    margin-bottom: 4.5%;
  }
}
@media screen and (min-width: 1078px) {
  .c-card__subcard {
    width: 95%;
    margin-bottom: 2.6%;
  }
}

.c-article {
  color: #3C2A10;
}
.c-article__card {
  line-height: 1.485rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3C2A10;
  font-weight: 400;
  font-size: 1rem;
  height: auto;
  width: 100%;
  margin-top: 4px;
  padding: 0;
}
.c-article--wideLineSpacing {
  line-height: 1.5rem;
}
.c-article__map {
  display: block;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 2.0625rem;
}
@media screen and (min-width: 1078px) {
  .c-article__map {
    font-size: 1rem;
    line-height: 2.0625rem;
  }
}

.p-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: 335px;*/
  margin-left: auto;
  margin-right: auto;
  /*flex-wrap: wrap;*/
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1078px) {
  .p-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
@media screen and (min-width: 768px) {
  .p-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}

.p-card__section {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5.3%;
}
@media screen and (min-width: 768px) {
  .p-card__section {
    display: flex;
    width: 50%;
    /* align-items: center; */
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0%;
  }
}
.p-card__section--right {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 13.07%;
}
@media screen and (min-width: 768px) {
  .p-card__section--right {
    display: flex;
    width: 50%;
    /* align-items: center; */
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0%;
  }
}
.p-card--threeBurgers {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../../picture/three-burgers-on-brown-wooden-tray-between-white-ceramic-takeout-hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 642px;
  width: 89.3%;
  aspect-ratio: 335/642;
}
@media screen and (min-width: 768px) {
  .p-card--threeBurgers {
    aspect-ratio: 616/1197;
    margin-top: 15.5%;
    margin-bottom: 16.7%;
    margin-left: 15.5%;
    width: 79.8%;
  }
}
.p-card--bigPotato {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../../picture/humberger-potato-eatin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 336/642;
  min-height: 642px;
  width: 89.6%;
}
@media screen and (min-width: 768px) {
  .p-card--bigPotato {
    margin-top: 15.5%;
    margin-bottom: 16.7%;
    margin-right: 15.5%;
    width: 79.8%;
    aspect-ratio: 616/1197;
  }
}

.p-searchform {
  display: flex;
  margin: 28px 0 45px 0;
  justify-content: center;
  height: 2.875rem;
  width: 19.875rem;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .p-searchform {
    width: 34.125rem;
  }
}
@media screen and (min-width: 1078px) {
  .p-searchform {
    margin: 0;
    position: absolute;
    right: 1.987rem;
    width: 35%;
  }
}
.p-searchform__input {
  display: flex;
  border-radius: 10px 8px 10px 10px;
  width: 13.5rem;
  height: 2.875rem;
}
@media screen and (min-width: 768px) {
  .p-searchform__input {
    width: 24.75rem;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1078px) {
  .p-searchform__input {
    width: 73%;
  }
}
.p-searchform__button {
  display: flex;
  border-radius: 10px;
  width: 5.63rem;
}
@media screen and (min-width: 768px) {
  .p-searchform__button {
    width: 24.9%;
  }
}

.p-hero {
  display: flex;
  background-image: url(../../picture/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 375/285;
}
@media screen and (min-width: 768px) {
  .p-hero {
    aspect-ratio: 834/285;
  }
}
@media screen and (min-width: 1078px) {
  .p-hero {
    aspect-ratio: 1553/530;
  }
}

.p-map {
  display: flex;
  width: 100vw;
  aspect-ratio: 375/691;
}
@media screen and (min-width: 768px) {
  .p-map {
    aspect-ratio: unset;
    height: auto;
  }
}
@media screen and (min-width: 1078px) {
  .p-map {
    width: 100%;
  }
}
.p-map__color {
  background-color: rgba(0, 0, 0, 0.2855);
  height: 100%;
}
.p-map__color--small {
  background-color: rgba(0, 0, 0, 0.2855);
  height: 60%;
}
@media screen and (min-width: 768px) {
  .p-map__color--small {
    height: 100%;
  }
}
@media screen and (min-width: 1078px) {
  .p-map__color--small {
    height: 100%;
    width: 61.1%;
  }
}
.p-map__image {
  background-image: url(../../picture/map-image.jpg);
  background-size: cover;
  height: 100%;
}
.p-map__textarea {
  padding: 11.2% 10.7% 15.2%;
}
@media screen and (min-width: 768px) {
  .p-map__textarea {
    padding: 5.03% 3.48% 4.8% 5.04%;
  }
}
@media screen and (min-width: 1078px) {
  .p-map__textarea {
    padding: 9.05% 14.1% 7.895% 12.53%;
  }
}

.p-footer {
  /*&__text--large{
      display: none;
      @include g.tab{
      display: block;
      font-family: g.$fontMp;
      font-weight: g.$Mbold;
      justify-content: center;
      color: g.$color-white;
      font-size: 1.25rem;    //20px
      }
      }       */
}
.p-footer__text {
  display: block;
  font-family: "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 375px) {
  .p-footer__text {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 768px) {
  .p-footer__text {
    font-size: 1.25rem;
  }
}
.p-footer__text--small {
  display: block;
  font-family: "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 0.875rem;
}
.p-footer__color {
  display: block;
  background-color: #9D8670;
  background-size: cover;
  height: 150px;
}
.p-footer__image {
  display: block;
  background-image: url(../../picture/texture-layer.png);
  background-repeat: repeat-x;
  background-size: cover;
  height: 150px;
}
/*# sourceMappingURL=style.css.map */