@use "../../foundation/global/index" as g;

.c-title{
    &__hero{
        display: flex;
        align-items: center;
        padding-left: 6.7%;
        font-size: 9.6vw;
        color: g.$color-white;
            @include g.tab{
                font-size: 4.32vw;
                padding-left: 10.3%;
            }
            @include g.pc{
                font-size: 2.08vw;
                padding-left: 5.5%;
            }
    }
    &__arcive{
        display: block;
        font-size: 1.75rem;//28px
        font-weight: g.$bold;
        line-height: 41.58px;
        color: g.$color-brown;
        @include g.tab{
            font-size: 2.25rem;//36px
            line-height: 3.34rem;//53.46px
        }
    }
    &__hero--single{
        color: g.$color-white;
        font-size: 36px;
    }
    
}
    
