@use "../foundation/global/index" as g;


.l-header{
    height: 13.4375rem;//215px
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: g.$color-background-beige;
    /*:relative;*/
    @include g.tab{
        height: 13.5625rem;//217px
    }
    @include g.pc{
        width: 80%;
justify-content: unset;
        
    }
    &__article{
        margin:0;
        padding: 0;
        height: 100%;
        @include g.pc{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items:center ;
        }
    }
    &__title{
        display: flex;
        font: g.$bold 2.5rem g.$fontR;//40px
        color: g.$color-gray;
        margin:31px 0 0 0;
        padding: 12px;
        @include g.pc{
            margin: 0;
            padding: 0;
        }
    }
    &__title__small{
        display: block;
        font:g.$bold 1.25rem g.$fontR;//20px
        color: g.$color-gray;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        @include g.pc{
            display: none;
        }
        }
}