@use "../foundation/global/index" as g;

.l-main{
    flex-grow: 1;
        @include g.pc{
            width: 80%;
        }
    &__font {
    font-family: g.$fontMp;
    font-weight: g.$bold;//700
    }
}